<!-- <app-user /> -->

<div>
  <article>
    <h2>¿Que me parece angular?</h2>
    <p>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Placeat sapiente
      et, esse qui totam sunt iure, est dolorum quia cum impedit dolore velit
      eos officiis perferendis. Id eos provident aspernatur!
    </p>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam quam
      magni repudiandae ipsam nobis obcaecati, blanditiis dolor dolorum nostrum
      iusto debitis voluptate corporis id exercitationem, quae praesentium!
      Impedit, ipsa quasi.
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur
      explicabo cupiditate dignissimos totam earum harum, sunt accusantium
      facere. Tenetur quia officiis voluptatibus aspernatur! Ea adipisci laborum
      est minima suscipit maiores?
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur
      explicabo cupiditate dignissimos totam earum harum, sunt accusantium
      facere. Tenetur quia officiis voluptatibus aspernatur! Ea adipisci laborum
      est minima suscipit maiores?
    </p>
  </article>
  @defer (on viewport) {
  <app-comments></app-comments>
  } @placeholder {
  <p>.</p>
  } @loading {
  <p>Loading...</p>
  }
</div>

<!-- <router-outlet></router-outlet> -->
